services:
  web:
    build: .
    ports:
      - "8080:80"
    environment:
      - APP_ENV=local
    volumes:
      - ./public:/var/www/html/public
      - ./src:/var/www/html/src
      - ./db:/var/www/html/db
      - ./storage:/var/www/html/storage     # << bilet.db kalıcı
